
 *{
    outline: 1px solid red;
    
    }

.set-height{

    min-height:300px;
}

.mainImage{
    min-height:300px;
    min-width: 650px;
}
.low-bar-size{
    min-height:150px;
}
.no-right-margin{
    margin-right: 0px;
}
